discord
pillow
Wavelink
Requests
parsedatetime
psutil
pyparsing
pyquery
git+https://github.com/paulovn/python-aiml
speedtest-cli
pytz
wikipedia
googletrans
git+https://github.com/shaunduncan/giphypop.git#egg=giphypop
numpy
pymongo
igdb_api_python
geopy